body {
  font-family: "Poppins";
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}

#playAllRecordsButton {
  margin-top: 32px;
}

#drums {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;
}

.drum {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 32px;
  border: 1px solid black;
  border-radius: 8px;
}

.drum_active {
  background-color: lightskyblue;
  color: white;
}

.drum audio {
  display: none;
}
